:root{
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(0, 0, 0);
}
    
.darktheme{
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(255, 255, 255);
}

#page-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
}

