*{
  scroll-behavior: smooth ;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
  list-style: none;
}
  

:root{
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(0, 0, 0);
  --terciary-color: rgb(211, 211, 211);
  --gradient-1: #bbbbbb;
  --gradient-2: #ececec;
}
  
.darktheme{
  --primary-color: rgb(0, 0, 0);
  --secondary-color: rgb(255, 255, 255);
  --terciary-color: rgb(15, 15, 15);
  --gradient-1: #080509;
  --gradient-2: #1a171c;
}

body{
  background-color: var(--terciary-color);
}

nav {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  justify-content: space-between;
  position: absolute;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur( 20px );
}
  
ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

li{
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3vw;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: ease .3s;
}

li:hover{
  border-bottom: 2px solid var(--secondary-color);
}

#logo{
  height: 40%;
  width: 12%;
  min-width: 120px;
  min-height: 30px;
  margin-left: 5%;
}

#login{
  width: 130px;
  height: 35px;
  cursor: pointer;
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  color: var(--primary-color);
  transition: ease .3s;
  border-radius: 10px;
  font-weight: 600;
  margin-right: 5%;
}

.mob{
  display: none;
}

#login:hover{
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

#menu {
  display: flex;
  list-style: none;
}

#btn-mobile{
  display: none;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  width: 60px;
  height: 25px;
  background: transparent;
  display: block;
  border-radius: 100px;
  margin: 0 0 0 5px;
  border: 2px solid var(--secondary-color);
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 16px;
  height: 16px;
  background: var(--secondary-color);
  border-radius: 90px;
  transition: 0.3s;
}   

input:checked + label {
  background: transparent;
}

input:checked + label:after {
  left: calc(100% - 4px);
  transform: translateX(-100%);
}

label:active:after {
  width: 10px;
}

#page, #page2{
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
}

#page-two{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  color: var(--secondary-color);
}

#home{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title-home{
  margin-left: 5%;
  color: var(--secondary-color);
}

.fit{
  width: 50%;
  height: 100%;
}

button{
  cursor: pointer;
}

#title-home{
  font-size: 3.5vw;
  line-height: 4vw;
}

#more{
  min-width: 150px;
  width: 35%;
  height: 45px;
  font-weight: bold;
  font-size: 15px;
  background-color: transparent;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  transition: ease .3s;
  margin-top: 25px;
}
#more:hover{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

@media (max-width: 990px) {
  #title-home{
    font-size: 30px;
    line-height: 45px;
  }
  .fit{
    display: none;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    transition: 0.6s;
    height: 0px;
    overflow-y: hidden;
    margin-top: 10vh;
    background-color: var(--primary-color, 0.9);
  }
  nav{
    justify-content: space-between;
  }

  #nav.active #menu {
    height: 350px;
    visibility: visible;
  }
  #menu li {
    padding: 1rem 0;
    margin: 0 5%;
    border-bottom: 2px solid var(--secondary-color);
    font-size: 15px;
  }
  #login, label, #logo{
    margin: 0.3rem 5%;
  }

  .desk{
    display: none;
  }

  .mob{
    display: block;
  }

  #btn-mobile {
    display: flex;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    margin-right: 5%;
  }
  #hamburger {
    border-top: 2px solid var(--secondary-color);
    width: 30px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background: var(--secondary-color);
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

@media (max-width: 320px){
    #logo{
        width: 100px;
        height: 20px;
    }
}

.services{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.gradient-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
}

.container-title {
  text-align: center;
  font-size: 40px;
  color: var(--secondary-color);
  font-weight: 600;
  line-height: 60px;
  margin: 20px 0;
}

.card {
  max-width: 550px;
  border: 0;
  width: 95%;
  margin-inline: auto;
  margin-bottom: 40px;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, var(--gradient-1), var(--gradient-2), var(--gradient-1));
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
}

.bg-green-box,
.bg-diamond-box,
.bg-gold-box,
.bg-plat-box,
.bg-silver-box,
.bg-red-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}

.bg-green-box::after,
.bg-diamond-box::after,
.bg-gold-box::after,
.bg-plat-box::after,
.bg-silver-box::after,
.bg-red-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-green-box::after {
  background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-red-box::after {
  background: linear-gradient(71deg, #121013, #d80909, #121013);
}

.bg-yellow-box::after {
  background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #0d38e0, #0c0a0e);
}

.bg-silver-box::after {
  background: linear-gradient(71deg, #0c0a0e, #cccccc, #0c0a0e);
}

.bg-plat-box::after {
  background: linear-gradient(71deg, #0c0a0e, #5a5a5a, #0c0a0e);
}

.bg-gold-box::after {
  background: linear-gradient(71deg, #0c0a0e, #e0d20d, #0c0a0e);
}

.bg-diamond-box::after {
  background: linear-gradient(71deg, #0c0a0e, #0dc0e0, #0c0a0e);
}

.card-title {
  font-weight: 600;
  color: var(--secondary-color);
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: var(--secondary-color);
  font-size: 16px;
  max-width: 470px;
}

.box-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: linear-gradient(130deg, #5f6fad83, var(--gradient-1), #5f6fad83);
  border: 2px solid #5f6fad9d;
  border-radius: 15px;
}

.yellow{
  background: linear-gradient(130deg, #afa220, var(--gradient-1), #afa220);
  border: 2px solid #afa220;
}

.green{
  background: linear-gradient(130deg, #3da077, var(--gradient-1), #3da077);
  border: 2px solid #3da077;
}

.red{
  background: linear-gradient(130deg, #d80909, var(--gradient-1), #d80909);
  border: 2px solid #d80909;
}

.blue{
  background: linear-gradient(130deg, #0d38e0, var(--gradient-1), #0d38e0);
  border: 2px solid #0d38e0;
}

.silver{
  background: linear-gradient(130deg, #838383, #d8d8d8, #838383);
  border: 2px solid #838383;
}

.plat{
  background: linear-gradient(130deg, #5a5a5a, #afafaf, #5a5a5a);
  border: 2px solid #5a5a5a;
}

.gold{
  background: linear-gradient(130deg, #706e01, #fffb00, #7a7c00);
  border: 2px solid #706e01;
}

.diamond{
  background: linear-gradient(130deg, #016970, #7ff6ff, #00747c);
  border: 2px solid #00747c;
}

.planos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 20px;
}

.gradient-plans{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
  max-width: 1200px;
}

.gradient-plans > .card{
  height: 500px;
  width: 290px;
}

.gradient-plans > .card > .container-card{
  padding: 15px;
  height: 500px;
  width: 290px;

}

.gradient-plans > .card > .container-card > h1{
  text-align: center;
  color: #080509;
  background-color: #0d38e0;
  padding-bottom: 11px;
  padding-top: 14px;
  border-radius: 15px 15px 0 0;
  width: 200px;
  margin-left: 30px;
}

#beneficios{
  height: 297px;
}

.fa-ban{
  color: red;
}

.fa-check-circle{
  color: green;
}

#beneficios > h4{
  color: var(--secondary-color);
  margin-bottom: 13px;
}

.gradient-plans > .card > .container-card > .box-icon{
  width: 100%;
  border-radius: 35px
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: 40vh;
  margin: 50px 0;
}

.contact{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;  
  flex-direction: column;
  max-width: 300px;
  gap: 15px;
  width: 100%;
  padding: 20px;
  height: 300px;
  color: var(--secondary-color);
}

.contact h3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  cursor: pointer;
}
.contact > h3 > i{
  font-size: 30px;
}

.contact > h2{
  margin-bottom: 15px;
}
#logo-footer{
  width: 100%;
}

.fa-facebook, .fa-instagram, .fa-whatsapp, .fa-whatsapp, .fa-twitter{
  transition: ease .3s;
  color: var(--secondary-color);
}

.fa-instagram{
  color: #9c00f7;
}

.fa-facebook{
  color: #04498a;
}

.fa-twitter{
  color: #0a77dd;
}

.fa-whatsapp{
  color: #03ce14;
}